*{
    box-sizing: border-box;
}

body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    color: #edd;
    overflow: hidden;
}

#list {
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    font-size: 21px;
    font-family: serif;
}

li {
    width: 24%;
    height: 50px;
    border: 2px solid #dcc;
    border-radius: 10px;
    padding: 10px 3px;;
    background: linear-gradient(80deg, #010, #012);
    transition: .3s;
}

li:hover {
    cursor: pointer;
    scale: 1.1;
}

h1{
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.btns {
    display: flex;
    justify-content: space-around;
}

#info {
    width: 250px;
    height: 400px;
    background: linear-gradient(80deg, #010, #012); 
    border: 3px solid #dcc;
    border-radius: 13px;
}

.btn{
    background-color: #cda;
    width: 160px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #aca;
    font-size: 20px;
    padding: 5px;
    font-style: italic;
    font-weight: 500;
    transition: .5s;
}

.btn:hover{
    scale: 1.1;
    opacity:0.9;
    cursor: pointer;
}

